@tailwind base;
@tailwind components;
@tailwind utilities;

.led {
  box-shadow: inset 0 10px 10px rgb(249, 165, 10),
    inset 0 -10px 10px rgb(249, 165, 10);
}
.spin-item.active {
  animation: slidein 0.17s infinite linear;
}
.header::before {
  overflow: hidden;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
}
.lamp-wrapper {
  background-image: linear-gradient(180deg, #e37466, #871d1d, #db6323);
  box-shadow: inset 0 10px 10px rgb(249, 165, 10),
    inset 0 -10px 10px rgb(249, 165, 10);
}
span:has(> span.lamps)::before {
  overflow: hidden;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
}
.lamps {
  animation: neon 0.4s linear infinite;
}
@keyframes neon {
  from {
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
      rgba(255, 0, 0, 0.5) 0 2px 12px;
  }
  to {
    box-shadow: rgba(255, 148, 148, 0.2) 0 -1px 7px 1px,
      inset #ff5858 0 -1px 9px, rgba(255, 36, 36, 0.75) 0 2px 12px;
  }
}
.wrapper {
  overflow: hidden;
  border-radius: 20px;
  background-image: linear-gradient(180deg, #e0e0e0, #ffffff, #e0e0e0);
}
.wrapper::before {
  overflow: hidden;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 40;
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 1),
    inset 0 -10px 10px rgba(0, 0, 0, 1);
  border-radius: 20px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
}
.arm:before {
  content: "";
  position: absolute;
  cursor: pointer;
}
.arm.pressed:before {
  animation: handMove 0.3s ease-in;
}
.arm.pressed {
  animation: armMove 0.3s ease-in;
}

.holder.pressed {
  animation: holderSpin 0.3s ease-in;
}
.holder {
  transform-origin: left left;
}
@keyframes holderSpin {
  0%,
  100% {
  }
  50% {
    box-shadow: none;
  }
}
@keyframes armMove {
  0%,
  100% {
    height: 3rem;
  }
  50% {
    height: 2px;
  }
}
@keyframes handMove {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
}
@keyframes slidein {
  from {
  }
  to {
    transform: translateY(350px);
  }
}
